body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 20px;
}
h1 {
    color: blue;
    font-weight: bold;
    text-align: center;
}
table {
    margin: auto;
    border-collapse: collapse;
}
caption {
    font-size: 25px;
    color: gold;
    margin-bottom: 10px;
}

th {
    background-color: lightgreen;
    border: 1px solid black;
    font-weight: bold;
    text-align: center;
    padding: 30px;
    font-size: 25px;
}

td {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}

#descans {
    background-color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 15px;
}

.hores {
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    width: 180px;
}

.LMSGI {background-color: pink;}
.BD {background-color: beige;}
.PED {background-color: rgb(62, 143, 116);}
.SI {background-color: yellow;}
.TUT {background-color: cornflowerblue;}
.AN {background-color: rgb(203, 180, 5);}
.DIW {background-color: orange;}
.IPOI {background-color: red;}